
<div class = "card">
    <div class = "card-body">
        <a [routerLink]="['/albums/create']" >
            <button type="button" class="btn btn-outline-primary float-right">Create Album</button>
        </a> 
    </div>      
</div>



<div *ngIf="myName">
    <h1>{{albums.length}} albums for {{myName}}!</h1>
</div>
<div *ngIf="!myName">
    <h1>All My Albums!</h1>
</div>

<div class="row">
    <div class="row" *ngFor="let album of albums">
              
       <div class="col-sm-6">
           <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{album.title}} </h5>
                    <p class="card-text">
                        <a href="/album/{{album.id}}/{{album.title}}">
                            <img class="card-img-top" src="{{album.coverPhotoUrl}}" alt="{{album.title}}">
                        </a> 
                    </p>
                    <a href="#" class="btn btn-primary">{{album.title}}</a>
                </div>
            </div>
        </div>
        <br/>
    </div>    
</div>

