@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
  margin:0;
  background-color: rgb(196, 175, 175) 
  font-family: 'Montserrat', sans-serif;
  margin: auto 10em;
}
div {
  padding: 20px auto;
}
